/* 
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global stylesheet settings */

body{
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	background-image: url(../images/main_bg.jpg);
	background-repeat: none;
}

h1{
	font-family: Georgia;
	font-size: 1.75em; /* 28px */
}

h2{
	font-family: Georgia;
	font-size: 1.375em; /* 22px */
}

/* header & footer treatments */


#logo{
	float: left;
	width: 16.125em; /* 258px */
	height: 14.625em; /* 234px */
}

footer{
	clear: both;
	background-image: url(../images/footer_bg.png);
	width: 100%;
	height: 12.875em; /* 206px */
	margin-top: 0px;
}

#footer_column_1{
	float: left;
	height: 12.875em; /* 206px */
	width: 33%;
	margin-left: 5em; /* 80px */
	margin-right: auto;
	margin-top: 1.6875em; /* 27px */
}

#footer_column_3{
	float: right;
	height: 12.875em; /* 206px */
	width: 33%;
	margin-left: auto;
	margin-right: -2.5em; /* -40px */
	margin-top: 1.6875em; /* 27px */
}

#footer_column_2{
	padding-top: 1.6875em; /* 27px */
}

#photo_credit{
	clear: both;
	float: left;
	text-align: center;
	font-size: 0.75em; /* 12px */
	margin-right: 0px;
}

#icon_credit{
	float: right;
	text-align: center;
	font-size: 0.75em; /* 12px */
	margin-left: 0px;
}

#copyright{
	text-align: center;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 0.75em; /* 12px */
	margin-top: 2.375em; /* 38px */
}


/* navigation treatments */

nav{
	max-width: 100%;
	margin-bottom: 1.25em; /* 20px */
}

nav li{
	float: left;
	width: 10.416666666667%; /* 100px */
	padding-left: 0.9375em; /* 15px */
	padding-top: 0.9375em; /* 15px */
	padding-bottom: 0.9375em; /* 15px */
	margin: 0 auto;
	font-family: Georgia, serif;
	font-size: 1.125em; /* 18px */
	border-bottom: 0.125em solid #000; /* 2px border */
}

nav li a{
	text-decoration: none;
	color: #000;
}

nav li.on_page{
	text-decoration: overline;
}

/* Begin left column styling */

.left{
	clear: both;
	float: left;
	height: 22em; /* 352px */
	width: 18.75em; /* 300px */
	font-color: #fff;
	margin-top: 1.875em; /* 30px */
	margin-right: 1.25em; /* 20px */
	
}

.happenings{
	height: 12em; /* 192px */
	width: 18.75em; /* 300px */
	background: #012A4A;
	margin-bottom: 0.625em; /* 10px */
	border-radius: 0.625em; /* 10px */
	line-height: 2.1875em; /* 35px */
}

.happenings p{
	color: #fff;
	text-align: center;
}

p.heading{
	font-size: 1.125em;  /* 18px */
	font-family: Georgia;
	text-decoration: underline;
}

p.event{
	font-size: 1em; /* 16px */
	font-family: Arial;
}

.happenings h2{
	color: #fff;
	font-size: 1.625em; /*26px */
	text-align: center;
	text-decoration: underline;
}

.contact p{
	font-size: 0.875em; /* 14px */
}

.contact h2{
	font-family: Georgia;
	font-style: normal;
	font-size: 1.6875em; /* 27px */
}

.contact{
	height: 12em; /* 192px */
	width: 18.75em; /* 300px */
	background: #519959;
	margin-bottom: 0.625em; /* 10px */
	padding: 0.625em 0em 0em 0.625em; /* 10px 0px 0px 10px */
	border-radius: 0.625em; /* 10px */
	line-height: 1em; /* 16px */
}

.contact ul{
	font-family: Arial;
	font-size: 1.0625em; /* 17px */
}

.bottom_left{
	height: 7.5em; /* 120px */
	width: 18.75em; /* 300px */
	background: #519959;
	margin-bottom: 0.625em; /* 10px */
	padding: 0.625em 0em 0em 0.625em; /* 10px 0px 0px 10px */
	border-radius: 0.625em; /* 10px */
	line-height: 1em; /* 16px */
}

.bottom_left p{
	font-size: 0.875em; /* 14px */
}

.bottom_left h2{
	font-family: Georgia;
	font-style: normal;
	font-size: 1.6875em; /* 27px */
}

/* End left column styling */

/* Begin right colum sytling */

.right{
	float: right;
	height: 12em; /* 192px */
	width: 13.75em; /* 220px */
	margin-top: 30px; /* 30px */
	margin-left: 20px; /* 20px */
}

.main{
	padding: 3.625em 13.75em 0em 13.75em; /* 58px 220px 0px 220px */
	

}

.main p{
	font-family: Arial;
	font-size: 0.875em;
	line-height: 1.28571428571429em; /* 21px */
}

#principal{
	float: right;
	height: 12em; /* 192px */
	width: 13.75em; /* 220px */
	margin-bottom: 0.625em; /* 10px */
}

.disclaimer{
	font-family: Georgia, serif;
	font-size: 0.6875em; /* 11px */
}

.form{
	clear: right;
	float: right;
	margin: 1.875em 0em 0em 0em; /* 30px 0px 0px 0px */
	background: #2B3C63;
	width: 64.583333333333%; /* 620px */
	height: 95%;
	border-radius: 0.625em; /* 10px */
	padding: 0.625em 0em 2.1875em 0.625em; /* 10px 0px 35px 10px */
}

label{
	font-family: Arial;
	font-size: 0.875em; /* 14px */
	color: #fff;
	line-height: 1.3em;
}

.form p{
	color: #fff;
	font-size: 0.875em;
	line-height: 1.1em;
}

legend{
	color: #fff;
	font-size: 1.625em; /* 26px */
	text-align: center;
}

.c1{
	float: left;
	margin-right: 0.625em; /* 10px */
}

.c3{
	float: right;
	margin: -0.125em 0.625em 0em 0em; /* -2px 10px 0px 0px */
}

#button_area{
	margin-top: 0.625em; /* 10px */
}

input{
	width: 140px;
}

#e_mail{
	margin: 0.625em 0em 0em 0em; /* 10px 0px 0px 0px */
}

#s_tate{
	margin: 0.625em 0em 0em 0em; /* 10px 0px 0px 0px */
}

#p_number{
	margin: 0.625em 0em 0em 0em; /* 10px 0px 0px 0px */
}

#c_ity{
	margin: 0.625em 0em 0em 0em; /* 10px 0px 0px 0px */
}

#zipcode{
	margin: 0.625em 0em 0em 0em; /* 10px 0px 0px 0px */
}

button{
	width: 50%; /* 150px */
	height: 40px; /* 40px */
	font-size: 0.875em; /* 14px */
	border-color: #fff;
	border-width: 0.125em; /* 2px */
}



.facts h2{
	text-align: center;
	text-decoration: underline;
	color: #fff;
	padding: 0.3125em; /* 5px */
}

.facts li{
	color: #fff;
	padding: 0.3125em 0em 0em 0.4375em; /* 5px 0px 0px 7px */
	line-height: 1.25em; /* 20px */
}

.facts{
	height: 192px;
	width: 100%;
	background: #2B3C63;
	margin-bottom: 0.625em; /* 10px */
	border-radius: 0.625em; /* 10px */
	line-height: 1.875em; /* 30px */
	margin-top: 1.875em; /* 30px */

}

.hours h3{
	font-family: Arial;
	font-weight: bold;
	font-size: 1.0625em; /* 17px */
	color: #fff;
}

.hours p{
	color: #fff;
	font-family: Arial;
	font-size: 0.875em; /* 14px */
}

.hours{
	height: 120px;
	width: 97%;
	background: #519959;
	margin-bottom: 0.625em; /* 10px */
	padding: 0.625em 0em 0em 0.625em; /* 10px 0px 0px 10px */
	border-radius: 0.625em; /* 10px */
	line-height: 0.9375em; /* 15px */
}

#left{
	width: 31.25%; /* 300px */
	float: left;
}

.about_main h1{
	font-family: Georgia;
	font-size: 1.625em; /* 26px */
	font-style: normal;
}

.about_main p{
	font-family: Arial;
	font-size: 0.8125em; /* 13px */
}

.about_main{
	float: right;
	width: 65.625%; /* 630px */
	margin: 1.6875em 0em 0em 0.625em; /* 27px 0px 0px 10px */

}

/*=====================Media Queries==========================*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px){

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px){

	body{
		font-size: 0.75em;
	}

	nav{
		height: 100%;
		width: 100%;
	}

	.left{
		height: 100%;
		width: 100%;
	}

	.happenings{
		height: 100%;
		width: 100%;
	}

	.contact{
		height: 100%;
		width: 100%;
	}

	.bottom_left{
		height: 100%;
		width: 100%;
	}

	.right{
		height: 100%;
		width: 100%;
	}

	#principal{
		height: 100%;
		max-width: 100%;
	}

	.form{
		height: 100%;
		width: 100%;
	}

	label{
		height: 100%;
		width: 100%;
	}

	.c1{
		height: 100%;
		width: 100%;
	}

	.c3{
		height: 100%;
		width: 100%;
	}

	#button_area{
		height: 100%;
		width: 100%;
	}

	input{
		height: 100%;
		width: 100%;
	}

	.facts{
		height: 100%;
		width: 100%;
	}

	.hours{
		height: 100%;
		width: 100%;
	}

	#left{
		height: 100%;
		width: 100%;
	}

	.about_main{
		height: 100%;
		width: 100%;
	}

	footer{
		width: 100%;
		height: 100%;
	}



}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px){

	footer{

	}

}
